{#{% load i18n %}{% autoescape off %}#}
{#{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}#}
{##}
{#{% trans "Please go to the following page and choose a new password:" %}#}
{#{% block reset_link %}#}
{#{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}#}
{#{% endblock %}#}
{#{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}#}
{##}
{#{% trans "Thanks for using our site!" %}#}
{##}
{#{% blocktrans %}The {{ site_name }} team{% endblocktrans %}#}
{##}
{#{% endautoescape %}#}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="x-apple-disable-message-reformatting" />

    <title>You are invited to News Direct</title>

    <style type="text/css" media="screen">
      /** CSS styles **/
    </style>
  </head>
  <body>
    <p>Hi {{ user.name }},</p>
    <p>You are invited to News Direct.</p>
    <p>To set your password, click here:</p>
    <p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
    <p>This link is valid for two days.</p>
    <p>
      Best regards,<br />
      News Direct
    </p>
  </body>
</html>
